*.h.gch
*.o
Garbage Collection/**
projects
source/wrappers/NonRepeatTexture.h
main
*.ipch
*.bin
*.json
Main.dSYM/Contents/Info.plist
s.supp.txt
source/makefile2.txt
valgrind_out.txt
callgrind.*
build/
demo
run/
useful commands.txt
