*.h.gch
*.o
Garbage Collection/**
projects
resources/cat.jpg
source/wrappers/NonRepeatTexture.h
main
*.ipch
*.bin
*.json
Main.dSYM/Contents/Info.plist
s.supp.txt
source/makefile2.txt
valgrind_out.txt
